<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Partecipante</th>
      <th scope="col">Età</th>
      <th scope="col">Genitore</th>
      <th scope="col">Mail</th>
      <th scope="col">Cliente</th>
      <th scope="col">Pagamento</th>
      <th scope="col">Newsletter</th>
      <th scope="col">Allergie</th>
      <th scope="col">Liberatoria</th>
      <th scope="col">Privacy</th>
      <th scope="col">Ritiro</th>
      <th scope="col">Cellulare</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>