<div class="container mt-5">
  <h1 class="inline" *ngIf="courseName">{{courseName}}</h1>
  <h5 class="inline ms-3" *ngIf="courseStart">Inizio: {{courseStart | date: 'shortDate'}}</h5>

  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Partecipante</th>
        <th scope="col">Età</th>
        <th scope="col">Cliente</th>
        <th scope="col">Pagamento</th>
        <th scope="col">Privacy</th>
        <th scope="col">Liberatoria</th>
        <th scope="col">Iscrizione</th>
      </tr>
    </thead>
    <tbody>
      <!-- <app-partecipant *ngFor="let part of partecipants; index as i" [i]="i" [part]="part"></app-partecipant> -->
      <tr role="button" (click)="open(part)" *ngFor="let part of partecipants; index as i">
        <!-- <app-partecipant [i]="i" [part]="part" ></app-partecipant> -->
        <th>{{i+1}}</th>
        <td>{{part.lastName}} {{part.firstName}}</td>
        <td>{{part.age}}</td>
        <td>{{part.axeraCode}}</td>
        <td>
          <input class="form-check-input" type="checkbox" [checked]="part.paymentDone">
        </td>
        <td>
          <input class="form-check-input" type="checkbox" [checked]="part.privacyAccepted">
        </td>
        <td>
          <input class="form-check-input" type="checkbox" [checked]="part.imageReleaseAccepted">
        </td>
        <td>
          <input class="form-check-input" type="checkbox" [checked]="part.iscriptionForm">
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="text-center mt-3" *ngIf="!partecipants.length">
    Nessuno parteciante da visualizzare
  </h5>

  <!-- <h2 class="mt-5" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
    <i class="bi bi-chevron-down me-2"></i>Lista attesa
  </h2>
  <div class="mt-2" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
   <app-waiting-list></app-waiting-list>
  </div>-->
</div> 